@import '~spectre.css/src/variables';

.fb-product-page {
  .next-row {
    margin-top: 2.5em;
  }
  .fb-card-link {
    &:hover,
    &:focus {
      text-decoration: none;
      color: inherit;
    }
    .card {
      transition: all 0.3s;
      box-shadow: none;
      margin-bottom: 0.5em;
      &:hover {
        @media (min-width: $size-md) {
          transform: scale(1.1);
          box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.12);
        }
      }
    }
    .card-body {
      font-size: $font-size-sm;
      padding-top: 0.5em;
      @media (min-width: $size-sm) {
        height: 135px;
      }
    }
    .card-title {
      min-height: 60px;
    }
    .text-container {
      max-height: 5em;
    }
  }
}
