@import '../utils/variables';

.fb-index-page {
  .flex-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
  }
  .flex-cell {
    flex: 0 0 20%;
    display: flex;
    justify-content: center;
    align-items: stretch;
    box-sizing: border-box;
  }
  .flex-cell:before {
    content: '';
    display: table;
    padding-top: 100%;
  }
  .flex-item {
    flex-grow: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0.5em;
    border: 1px solid $light-pink;

  }
  .flex-pink {
    border: 0px solid #E1B656;
  }
  .landing-box {
    text-transform: uppercase;
    letter-spacing: 3px;

    &.box-gray {
      color: $white;
    }
    &.box-pink {
      border: 1px solid #E1B656;
      //color: $dark-gray;
    }
  }
}