@import '~spectre.css/src/variables';
@import '../utils/variables';

.fb-index-page {
  .row-container {
    padding: 1.5em 0 4em 0;
    background: rgba(255,255,255,1.0);
    display: flex;
    flex-wrap: wrap;
    justify-content:center;
  }

  .flex-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
  }
  .flex-cell {
    text-transform: uppercase;
    flex: 0 0 20%;
    display: flex;
    justify-content: center;
    align-items: stretch;
    box-sizing: border-box;
    letter-spacing: 4px;
    transition: letter-spacing 0.2s;
    min-width: 200px;

    &:before {
      content: '';
      display: table;
      padding-top: 100%;
    }
    &:hover {
      letter-spacing: 7px;
    }
    &.text-box {
      background: $white;
      border: 2px solid $gold;
    }
  }
  a {
    &:hover {
      text-decoration: none;
    }
    &:focus {
      outline: none;
      box-shadow: none;
    }
  }
  .flex-item {
    flex-grow: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0.5em;
    border: 1px solid $light-color;
  }
}
