@import '../utils/variables';

.fb-index-page {
  .flex-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
  }
  .flex-cell {
    flex: 0 0 20%;
    display: flex;
    justify-content: center;
    align-items: stretch;
    box-sizing: border-box;
  }
  .flex-cell:before {
    content: '';
    display: table;
    padding-top: 100%;
  }
  .flex-item {
    flex-grow: 1;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .landing-box {
    text-transform: uppercase;
    letter-spacing: 3px;
    &.box-gray {
      color: $white;
    }
    &.box-pink {
      background: $light-pink;
      color: $dark-gray;
    }
  }
}