@import '../utils/variables';
@import '~spectre.css/src/variables';

.fb-footer {
  color: $dark-gray;
  .container {
    background: $light-gray;
  }
  .fb-form {
    @media(min-width: $size-sm) {
      padding: 2em;
    }
    .column {
      margin-bottom: 1em;
    }
  }
}