@import '../utils/variables';

.fb-navbar {
  background: $white;
  padding-bottom: 0.5em;

  .bordered {
    border: 1px solid $gold;
    border-left-width: 0;
    border-right-width: 0;
  }
  .btn-link {
    text-transform: uppercase;
    letter-spacing: 2px;
  }

  .image {
    margin: 0.5em;
  }
}
