.flex-cols {
  display: flex;
  flex-direction: column;
}

.flex-grow {
  flex-grow: 1;
}

.fb-script {
  font-family: 'Great Vibes', cursive;
}

.fb-bold {
  font-weight: 600;
}

.fb-page-title {
  padding: 0.5em 0;
}

.fb-section {
  padding: 0.5em;
  height: 100%;
  background: #fff;
}