@import './variables';
@import '~spectre.css/src/spectre';

$border-radius: $unit-1;

.form-input {
  &:focus {
    @include control-shadow($dark-gray);
    border-color: $dark-gray;
  }
}

.card {
  border: $border-width solid $light-gray;
  .card-title {
    letter-spacing: 2px;
  }
  .card-body {
    font-size: $unit-4;
  }
}