@import '../utils/variables';
@import '../utils/common-styles';

.fb-template-wrapper {
  height: 100%;

  .fb-tw-container {
    height: 100vh;
    background: $white;
  }
}

@import '~spectre.css/src/spectre';
