@import '../utils/variables';
@import '../utils/common-styles';

.fb-template-wrapper {
  background: $white;

  .fb-tw-container {
    min-height: 100vh;
  }

  .fb-footer {
    margin: 2em 0 2.5em 0;
    color: $dark-gray;
  }
}

@import '~spectre.css/src/spectre';
