@import '../utils/variables';
@import '../utils/common-styles';

.fb-template-wrapper {
  height: 100%;

  .fb-tw-container {
    min-height: 100vh;
    background: $white;
    background: url(../img/elegantgolden.jpg) top repeat;
    //background: url(../img/diamondshape600.jpg) center repeat;

  }
}

@import '../utils/theme-overrides';
//@import '~spectre.css/src/spectre';
