$white: #eaeaea
$light-pink: #ffd9da
$pink: #ea638c
$dark-pink: #89023e
$black: #30343f

// Spectre variables
$primary-color: $pink
$dark-color: $dark-pink
$light-color: $white
//$secondary-color: $light-pink
//$gray-dark-color: $black


@import "~spectre.css/src/spectre"